header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 10px 0;
  height: 8vh;
}

nav {
  display: flex;
  justify-content: space-between;

  .logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  a {
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    line-height: 30px;
    color: #fff;
    display: block;
    padding: 0.5rem 0;

    &.active {
      border-color: #fff;
      color: #0bceaf;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .burger {
    display: none;
    div {
      width: 25px;
      height: 2px;
      background-color: #fff;
      margin: 5px;
    }
  }

  li {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 575px) {
  nav {
    .navbar {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #100e17;
    }
  }
}
